<!DOCTYPE html>
<html>

<head>
  <title>Sincromisor(Simple)</title>
  <meta charset="UTF-8">
  <link href="/styles/fonts.css" rel="stylesheet">
  <link href="/styles/main.css" rel="stylesheet">
  <link href="/styles/single.css" rel="stylesheet">
  <link href="/styles/simple.css" rel="stylesheet">
  <script type="module" src="dist/Sincromisor.js"></script>
</head>

<body>
  {% include 'configurationDialog.html' %}

  <div id="obsBody">
    <div id="obsHeaderBox">
      <div id="headerDecoration"></div>
      <div id="headerText">Sincromisor</div>
      <img id="headerIcon" src="images/icon-user.webp" width="100" height="100">
    </div>
    <div id="obsVideo1">
      Video1です。
      1600x900
    </div>
    <div id="obsMessageBox">
    </div>
    <div id="obsCharacterBox">
      <canvas id="gloriaCanvas"></canvas>
    </div>
    <div id="obsCharacterBackgroundBox">
    </div>
    <div id="obsFooterBox">
    </div>
  </div>

  {% include 'debugConsole.html' %}
</body>

</html>
