:root {
    --canvasWidth: 1920px;
    --canvasHeight: 1080px;
    --headerHeight: 90px;

    --headerFontSize: calc(var(--headerHeight) * 0.5);
    --headerDecorationAngle: 15deg;
    /*
    tanはChromium 111で実装(2024-01-07時点ではChrome/103.0.5060.134 OBS/30.0.2)
    Math.tan(75 * (Math::PI / 180)) => 1.3089969389957472
    */
    --headerDecorationWidth: var(--headerHeight) / 1.3089969389957472;
    /*--footerHeight: calc(var(--canvasHeight) - var(--headerHeight) - var(--videoHeight));*/

    --chatMessagePadding: 10px;
    --chatMessageBorderRadius: 10px;
}

* {
    margin: 0 auto;
    padding: 0;
    overflow: clip;
    font-family: 'BIZ UDPGothic', 'UDPGothic', sans-serif;
    font-feature-settings: "palt" 1;
    line-height: 150%;
    box-sizing: border-box;
}

body {
    width: var(--canvasWidth);
    height: var(--canvasHeight);
}

div#obsBody {
    width: var(--canvasWidth);
    height: var(--canvasHeight);
    overflow: clip;
    background-color: rgba(255, 255, 255, 1);
    display: grid;
    gap: 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

div#obsHeaderBox {
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

div#obsHeaderBox img#headerIcon {
    position: absolute;
    top: 0;
    left: 2.5%;
    z-index: 1;
    display: block;
    height: var(--headerHeight);
}

div#obsHeaderBox div#headerDecoration {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
    transform: skewX(calc(-1 * var(--headerDecorationAngle)));
    height: 100%;
    width: 80%;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(50, 50, 50, 0.75);
}

div#obsHeaderBox div#headerText {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;
    width: calc(80% - var(--headerDecorationWidth) * 2);
    height: var(--headerHeight);
    line-height: var(--headerHeight);
    font-size: var(--headerFontSize);
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

div#obsVideo1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.5);
}

div#obsVideo2 {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 255, 0.5);
}

div#obsMessageBox {
    width: 100%;
    height: 100%;
    font-size: 110%;
    overflow: hidden;
}

div#obsCharacterBox {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 255;
}

div.obsMessage {
    z-index: 3;
    position: relative;
    padding: var(--chatMessagePadding);
    width: 95%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: var(--chatMessageBorderRadius);
    display: grid;
    background-color: #eeaacc;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: var(--chatIconSize) 1fr;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

div.obsMessage .icon {
    border-radius: var(--chatMessageBorderRadius) 0px 0px var(--chatMessageBorderRadius);
    background-color: #bb88aa;
    grid-column: 1;
    grid-row: 2;
    width: var(--chatIconSize);
    height: var(--chatIconSize);
}

div.obsMessage .message {
    width: 100%;
    border-radius: 0px var(--chatMessageBorderRadius) var(--chatMessageBorderRadius) var(--chatMessageBorderRadius);
    grid-column: 2;
    grid-row: 2;
    min-height: calc(var(--chatIconSize) + var(--chatMessageBorderRadius));
    background-color: #eee;
    padding: var(--chatMessagePadding);
    box-sizing: border-box;
    word-break: break-all;
}

div#obsFooterBox {
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 69, 69, 1);
    /*
    -webkit-text-stroke: 1px rgba(0,0,0,0.5);
    text-stroke: 1px rgba(0,0,0,0.5);
    background-image: linear-gradient(180deg, rgba(240, 240, 240, 0.1) 0%, rgba(230, 230, 230, 0.2) 30%, rgba(50, 50, 50, 0.7));
    */
    line-height: calc(var(--footerHeight) - 20px);
    font-size: calc(var(--footerHeight) / 2);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ロード直後に表示されるSetupDialog */
dialog#configurationDialog {
    width: 50vw;
    min-width: 650px;
    min-height: 50vh;
    margin: auto;
    border: solid 1px;
    border-radius: 5px;
    font-size: 24px;
    overflow: scroll;
}

dialog#configurationDialog button {
    display: block;
    font-size: 36px;
    margin: 20px auto 20px auto;
    width: 80%;
}

dialog#configurationDialog fieldset {
    margin: 20px auto 20px auto;
    width: 90%;
}

dialog#configurationDialog fieldset legend {
    margin-left: 2em;
}

dialog#configurationDialog fieldset div {
    margin: 20px 20px 20px 20px;
}

dialog#configurationDialog fieldset div input[type=checkbox] {
    vertical-align: middle;
    width: 36px;
    height: 36px;
    margin: 0 1em 0 1em;
}

dialog#configurationDialog fieldset div input[type=text] {
    vertical-align: middle;
    width: 400px;
    height: 36px;
    font-size: 24px;
    margin: 0 1em 0 1em;
}

dialog#configurationDialog fieldset div label {
    vertical-align: middle;
    height: 36px;
}

dialog#configurationDialog::backdrop {
    background: rgba(180, 100, 180, 0.5);
}

canvas#characterCanvas {
    height: 100%;
    width: 100%;
}

div#debugConsole {
    grid-area: 1 / 1 / 5 / 4;
    position: absolute;
    top: 0;
    left: 0;
    /*
     debugConsoleを有効にしたい時、
     SincroController.jsから255にする
    */
    z-index: -1;
    font-size: 100%;
    overflow: hidden;
    height: var(--canvasHeight);
    width: var(--canvasWidth);
    -webkit-text-stroke: 0.2px #ffffff;
}

div#debugConsole div#characterGaze {
    z-index: -2;
    width: 30vw;
    position: fixed;
    top: 0;
    right: 0;
}

div#debugConsole video#characterGazeVideo {
    width: 100%;
    height: auto;
    display: block;
}

div#debugConsole svg#characterGazeMarker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
