/*
+-------------------+
| w: 1fr, h: 90px   |
|-------------------|
| w: 1fr, h: 1fr    |
|-------------------|
| w: 1fr, h: 90px   |
+-------------------+
*/

div#sincroBody {
    & {
        width: 100dvw;
        height: 100dvh;

        overflow: clip;
        gap: 0px 0px;
        position: absolute;
        top: 0;
        left: 0;

        background-color: #ffffff;

        /* grid layout */
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr 90px;
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        z-index: 0;
    }

    & div#sincroHeaderContainer {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: 100%;
        z-index: 6;
    }

    & div#sincroVideoContainer {
        display: none;
    }

    & div#sincroChatContainer {
        grid-area: 2 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    & div#sincroCharacterContainer {
        grid-area: 1 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    & div#sincroBackgroundContainer {
        grid-area: 1 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    & div#sincroFooterContainer {
        grid-area: 3 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        z-index: 4;
    }

    & div#sincroDebugConsoleContainer {
        grid-area: 1 / 1 / 4 / 2;
        width: 100%;
        height: 100%;
        visibility: hidden;
        z-index: 15;
    }
}
