:root {
    --videoScale: 1.2;
    --videoWidth: calc(var(--canvasWidth) / var(--videoScale));
    --videoHeight: calc(var(--canvasHeight) / var(--videoScale));
    --footerHeight: calc(var(--canvasHeight) - var(--headerHeight) - var(--videoHeight));

    --characterBoxWidth: calc(var(--canvasWidth) - var(--canvasWidth) / var(--videoScale));
    --characterBoxHeight: var(--characterBoxWidth);

    --chatMessageHeight: calc((var(--videoHeight) * 0.3 + var(--footerHeight)) / 5);
    --chatIconSize: calc(var(--chatMessageHeight) * 0.8);
}

div#obsBody {
    /* https://grid.layoutit.com/?id=aFLAWNI */
    grid-template-columns: calc(var(--canvasWidth) / 2) calc(var(--canvasWidth) / 2 - var(--characterBoxWidth)) var(--characterBoxWidth);
    grid-template-rows: var(--headerHeight) calc(var(--videoHeight) * 0.5) calc(var(--videoHeight) * 0.5) var(--footerHeight);
    background-color: rgba(200, 200, 200, 1);
}

div#obsVideo1 {
    grid-area: 2 / 1 / 4 / 3;
}

div#obsVideo2 {
    display: none;
}

div#obsMessageBox {
    grid-area: 2 / 3 / 4 / 4;
}

div#obsCharacterBox {
    grid-area: 3 / 3 / 5 / 4;
}

div#obsCharacterBackgroundBox{
    width: 100%;
    height: 100%;
    grid-area: 3 / 3 / 4 / 4;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0.9) 100%);
    z-index: 254; /* CharacterBoxは255 */
}

div#obsFooterBox {
    grid-area: 4 / 1 / 5 / 4;
}
