:80 {
    log {
            output stdout
            level info
    }

    root * /srv/sincromisor-client
    file_server

    reverse_proxy /api/* {
        dynamic a {
            name RTCSignalingServer.service.consul
            port 8001
            resolvers sincro-consul-agent:8600
            versions ipv4
            refresh 5s
        }
        lb_policy random
    }

    handle_path /media/hls/live_* {
        rewrite * /{path}
        reverse_proxy {
            to sincro-mediamtx:8888
        }
    }
}
